# This is Git's per-user configuration file.

[alias]
    # add (no whitespace)
    # From https://stackoverflow.com/a/39487648/68086
    addnows = !git diff -U0 -w --no-color -- \"$@\" | git apply --cached --ignore-whitespace --unidiff-zero "#"

    br     = branch -vv
    bra    = br -a
    cam    = !sh -c 'git add -A && git st && git commit -m \"$*\"' -
    cleani = clean -i
    cpick  = cherry-pick
    ci     = commit
    cie    = commit --allow-empty
    cif    = !sh -c 'git commit --fixup=$*' -
    cifh   = commit --fixup=HEAD
    cim    = !sh -c 'git commit -m \"$*\"' -
    co     = !echo '*** Use restore, switch, or checkout ***'
    cp     = cherry-pick
    df     = diff
    dfc    = diff --cached
    dfm    = diff --diff-filter=M
    dfns   = diff --name-status
    dfs    = diff --stat-width=117
    dt     = difftool
    dtc    = difftool --cached
    dw     = diff --color-words

    # git-fixup is part of nvie/git-toolbelt
    # fixup  = "!sh -c '(git diff-files --quiet || (echo Unstaged changes, please commit or stash with --keep-index; exit 1)) && COMMIT=$(git rev-parse $1) && git commit --fixup=$COMMIT && git rebase -i --autosquash $COMMIT~1' -"

    # From http://blog.kfish.org/2010/04/git-lola.html
    lol     = log  --graph --decorate --pretty=oneline --abbrev-commit
    lola    = lol  --all
    lolab   = lola --simplify-by-decoration # Just show branches and tags
    lolan   = lola --name-status
    loln    = lol  --name-status
    lolmc   = lol  --max-count=5

    mergeff = merge --ff
    mt      = mergetool
    ps      = push -u
    psfl    = push -u --force-with-lease
    reb     = rebase
    rebc    = rebase --continue
    rebi    = rebase -i
    ress    = restore --staged
    ressp   = restore --staged --patch

    # For why GIT_PREFIX, see https://stackoverflow.com/a/26243454/68086
    # For saddpn, see https://stackoverflow.com/questions/14491727/git-add-patch-to-include-new-files
    sadd    = !sh -c 'cd -- ${GIT_PREFIX:-.}                 && git add    -- \"$@\" && git st' -
    # saddp   = !sh -c 'cd -- ${GIT_PREFIX:-.}                 && git add -p -- \"$@\" && git st' -
    saddp   = !sh -c 'cd -- ${GIT_PREFIX:-.} && git add -N . && git add -p -- \"$@\" && git st' -
    saddpw  = -c interactive.diffFilter=\"git diff --color-words\" saddp

    # short log
    shlog   = log --pretty=format:\"%C(yellow bold)%h%Creset %ad %C(cyan)|%Creset %s%C(magenta)%d%Creset %C(bold)[%an]%Creset\" --date=short --name-only

    st      = status --short --branch
    stashlp = stash list -p
    sw      = switch

[color]
    diff = auto
    ui   = auto

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[core]
	attributesfile = C:/Users/Akeeton/.gitattributes
    autocrlf       = false
	excludesfile = 
    # pager          = diff-so-fancy | less --tabs=4 -RFX

[credential]
    helper = wincred

[diff]
    # algorithm      = patience
    algorithm      = histogram
    colorMoved     = default # see https://stackoverflow.com/a/51714397/68086
    context        = 6
    mnemonicPrefix = true
    tool           = bc

# [diff "osoxml"]
#     command = oso-xml-diff.sh

# [diff "xltrail"]
    # command = git-xltrail-diff.exe

# [diff "xltrail-bc"]
    # command = xltrail-bc-diff.sh

[difftool]
    prompt = false

[difftool "bc"]
    # path = c:/Program Files/Beyond Compare 4/bcomp.exe
    path = /c/Program Files/Beyond Compare 4/BComp.exe

[merge]
    ff        = false
    tool      = bc
    verbosity = 2

# Incorrect?
# [merge "xltrail"]
#     name = xltrail merge driver for Excel workbooks
#     driver = git-xltrail-merge.exe %P %O %A %B

[mergetool "bc"]
    # path = c:/Program Files/Beyond Compare 4/bcomp.exe
    path = /c/Program Files/Beyond Compare 4/BComp.exe

# [mergetool "osoxml"]
#     cmd = OsoXMLMerge.exe -merge -base "$BASE" -left "$LOCAL" -right "$REMOTE" -result "$MERGED"

[push]
    default = current

[rebase]
    autoSquash = true

[rerere]
    autoUpdate = false
    enabled    = true

[user]
	name = Andrew Keeton
	email = AKeeton@dandh.com

[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
[diff "xl"]
	command = git-xl-diff.exe
[merge "xl"]
	name = xl merge driver for Excel workbooks
	driver = git-xl-merge.exe %P %O %A %B
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
