[user]
	name = Andrew Keeton
	email = 208120+akeeton@users.noreply.github.com
[credential]
	helper = cache --timeout=86400
[push]
	default = simple

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
